@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* --color-card: hsl(207 97% 12%); */
  --color-light-theme: hsl(0 0% 100%);
  --color-dark-theme: hsl(0, 0%, 0%);
  --color-pastel-theme: #cfb7e0;
}

/* @layer base {
  [data-theme="light"] {
    --color-card: hsl(207 97% 12%);
  }
  [data-theme="dark"] {
    --color-card: hsl(0 0% 100%);
  }
  [data-theme="pastel"] {
    --color-card: hsl(291 46% 83%);
  }
} */

:root[data-theme="light"] {
  background-color: var(--color-light-theme);
  color: var(--color-dark-theme);
}

:root[data-theme="dark"] {
  background-color: var(--color-dark-theme);
  color: var(--color-light-theme);
}

:root[data-theme="pastel"] {
  background-color: var(--color-pastel-theme);
}

/* this is so that we have transition when changing theme, but not on page load */
.theme-transition {
  transition: background-color 1s, color 1s;
}